@{
    ViewBag.Title = "CreateProduct";
}
<img src="~/Content/lucci_logo.jpg" alt="Lucci Logo" height="50" width="120" />
<h3>Tạo mới sản phẩm</h3>
<form>
    <div class="form-group">
        <label for="exampleInputCode">Mã</label>
        <input type="text" class="form-control" id="exampleInputCode" placeholder="Code">
    </div>
    <div class="form-group">
        <label for="exampleInputName">Tên</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputAmount">Số lượng</label>
        <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount">
    </div>
    <div class="form-group">
        <label for="exampleInputPrice">Giá</label>
        <input type="text" class="form-control" id="exampleInputPrice" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="exampleInputTrademark">Thương hiệu</label>
        <input type="text" class="form-control" id="exampleInputTrademark" placeholder="Trademark">
    </div>
    <button type="submit" class="btn btn-default" onclick="alert('Bạn có muốn lưu?')">Save</button>
</form>