
@{
    ViewBag.Title = "ProductList";
}
<img src="~/Content/lucci_logo.jpg" alt="Lucci Logo" height="50" width="120" />
<h3>Danh sách sản phẩm</h3>
<table class="table table-hover">
    <tr>
        <th>Mã</th>
        <th>Tên</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thương hiệu</th>
    </tr>
    <tr>
        <td>6KBS20S002</td>
        <td>Chân váy nữ</td>
        <td>0</td>
        <td>349.000VNĐ</td>
        <td>Canifa</td>
    </tr>
    <tr>
        <td>8TS20S021</td>
        <td>Áo phông nam</td>
        <td>10</td>
        <td>299.000VNĐ</td>
        <td>Canifa</td>
    </tr>
    <tr>
        <td>6BJ20S003</td>
        <td>Quần jeans nữ</td>
        <td>20</td>
        <td>399.000VNĐ</td>
        <td>Canifa</td>
    </tr>
</table>

